<div class="container">
  <div class="row" data-controller="dropzones--entities--index">
    <div class="col-md-6" data-target="dropzones--entities--index.indexCol"></div>
    <div class="col-md-6" data-target="dropzones--entities--index.showCol"></div>
  </div>
</div>